language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t jpalakovich/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true jpalakovich/docker-react npm run test
